<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Burger App</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
  <body>
    {{{ body }}}

     <!--  Scripts-->






     
     <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/assets/js/script.js"></script>
  <!--Awesome Fonts-->
  <script src="https://kit.fontawesome.com/06d7c4de74.js" crossorigin="anonymous"></script>
  <!-- CSS Materialize-->
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

